*.sw*
fonts/
*.un~
.netrwhist
bundle/
.update_bundles.sh.swp
*.nvim
.config/pulse/
.config/chromium/
.config/menus/
.config/dconf/
.config/libreoffice/
.config/xfce4/
.config/neofetch/
.config/mimeapps.list
.config/htop/
.config/Thunar/
.config/pulseaudio-ctl/
.config/configstore/
*.ropeproject**
.esmtprc
.msmtprc
plugged/
