[alias]
  co = checkout
  st = status
  br = branch
  cl = clone
  ci = commit
  cim = commit -m
  ciam = commit -am
[user]
  email = russ.tolle@gmail.com
  name = Mac21
[push]
  default = simple
[credential]
  helper = store
[color]
  diff = always
  branch = always
  status = always
[core]
  excludesfile = /home/toller/.gitignore_global
  filemode = false
[diff]
  tool = vimdiff2
[merge]
  tool = vimdiff2
