*.sw*
fonts/
*.un~
.netrwhist
bundle/
.update_bundles.sh.swp
*.nvim
.config/pulse/
.config/chromium/
.config/menus/
.config/dconf/
.config/libreoffice/
.config/xfce4/
.config/neofetch/
.config/mimeapps.list
.config/htop/
.config/Thunar/
.config/pulseaudio-ctl/
.config/configstore/
.config/veonim/
.config/Postman/
.config/dlv/
.config/git/
.config/crane/
.config/i3status/
.config/GIMP
.config/dolphin-emu
.config/mesen
.config/mutt
.config/msmtp
.config/go/telemetry
.config/QtProject.conf
.config/eog/accels
.config/gocode/config.json
.config/gtk-3.0/bookmarks
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenlive.notifyrc
.config/kdenliverc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc
.config/helm
.config/xbuild/
.config/go/
.config/pavucontrol.ini
.config/gtk-2.0/
.undodir
*.ropeproject*
.esmtprc
.msmtprc
plugged/
autoload/plug.vim.old
.muttrc
.signature
